* {
  margin: 0;
  padding: 0;
}

header {
  width: 100%;
  height: 66px;
  background: #212529 !important;
}

header img {
  position: absolute;
  width: 250px;
  left: 30px;
  top: 2px;
}

a {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.75);
}

header nav ul {
  width: 395px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  float: right;
  list-style: none;
  margin: 25px 30px;
}

section > h1 {
  margin: 120px auto 40px auto;
  font-size: 3rem;
  line-height: 2.5rem;
  text-align: center;
  font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
    "Noto Color Emoji";
}

.custom-line {
  display: flex;
  justify-content: center;
  align-items: center;
}

.custom-line hr {
  width: 100%;
  max-width: 17rem;
  height: 0.25rem;
  background-color: #2c3e50;
  border-radius: 1rem;
  border-color: #2c3e50 !important;
}

.custom-line hr:first-child {
  margin-right: 1rem;
}

.custom-line hr:last-child {
  margin-left: 1rem;
}

.custom-line .star {
  color: #2c3e50 !important;
  font-size: 8px;
}

.card {
  width: 200px;
  height: 180px;
  background: #2c3e50 !important;
  border-radius: 8px;
  margin: 2px 15px;
  margin-bottom: 1rem !important;
  text-align: center;
}

.card h1 {
  color: #fff !important;
  background: rgba(0, 0, 0, 0.03);
  padding: 0.5rem 1rem;
  font-weight: normal;
  font-size: 1rem;
  font-family: "Segoe UI", sans-serif;
  text-transform: capitalize;
}

.card > div {
  margin: 25px 0;
}

.card-link {
  display: block;
  text-decoration: none;
  color: inherit;
}

.card-link .card {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: opacity 0.2s;
}

.card-link:hover .card {
  opacity: 0.9;
}

.card-link .card i,
.card-link i {
  color: #1abc9c !important;
}

section ul {
  display: flex;
  width: 690px;
  margin: 30px auto;
  list-style: none;
  flex-wrap: wrap;
}

.navbar-toggler {
  display: none;
}

.menu-toggle {
  display: none;
}

@media (max-width: 720px) {
  header nav ul {
    display: none;
    flex-direction: column;
    float: left;
    width: 100%;
    list-style: none;
    background: #2a2f34 !important;
    margin: 60px 0 30px 0;
    padding: 20px;
  }

  header nav ul li {
    padding: 8px 0;
  }

  .menu-toggle {
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }

  .menu-toggle-text {
    color: rgba(255, 255, 255, 0.75) ;
  }

  .navbar-toggler {
    display: block;
    padding: 0.25rem 0.75rem;
    font-size: 1.25rem;
    line-height: 1;
    background-color: transparent;
    border: 1px solid transparent;
    border-radius: 0.25rem;
    transition: box-shadow 0.15s ease-in-out;

    float: right;
    margin: 10px;
  }

  .navbar-toggler-icon {
    display: inline-block;
    width: 1.5em;
    height: 1.5em;
    vertical-align: middle;
    background-size: 100%;

    background: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28255, 255, 255, 0.55%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e")
      no-repeat center;
  }

  section ul {
    width: auto;
    justify-content: center;
  }

  .card {
    width: 450px;
    height: auto;
    min-height: 180px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0 1rem;
  }

  .card h1 {
    text-align: left;
    width: auto;
    margin: 0;
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 0.5rem 1rem;
    order: 1;
  }

  .card > div {
    position: static;
    margin: 0;
    margin-left: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    order: 2;
  }
  
  .card-link {
    display: block;

    .card {
      display: flex;
      align-items: center;
      flex-direction: row;
    }
  }
}

