* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Lato", -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
    "Noto Color Emoji";
  font-size: 1rem;
}

header {
  width: 100%;
  height: 66px;
  background: #212529 !important;
}

header img {
  position: absolute;
  width: 250px;
  left: 30px;
  top: 2px;
}

a {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.75);
}

header nav ul {
  width: 395px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  float: right;
  list-style: none;
  margin: 25px 30px;
}

section > h1 {
  margin: 120px auto 40px auto;
  font-size: 3rem;
  line-height: 2.5rem;
  text-align: center;
  font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
    "Noto Color Emoji";
}

.custom-line {
  display: flex;
  justify-content: center;
  align-items: center;
}

.custom-line hr {
  width: 100%;
  max-width: 17rem;
  height: 0.25rem;
  background-color: #2c3e50;
  border-radius: 1rem;
  border-color: #2c3e50 !important;
}

.custom-line hr:first-child {
  margin-right: 1rem;
}

.custom-line hr:last-child {
  margin-left: 1rem;
}

.custom-line .star {
  color: #2c3e50 !important;
  font-size: 8px;
}

.navbar-toggler {
  display: none;
}

.menu-toggle {
  display: none;
}

button {
  display: inline-block;
  font-weight: 400;
  text-align: center;
  vertical-align: middle;
  background-color: transparent;
  border: 0.125rem solid transparent;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  border-radius: 0.5rem;
  line-height: 1.5;
  cursor: pointer;
  margin: 0 10px;
}

.btn-add {
  color: #28a745;
  border-color: #28a745;
  margin-bottom: 5px;
}

.btn-add:hover {
  color: #fff;
  background-color: #28a745;
  border-color: #28a745;
}

.btn-main {
  color: #17a2b8;
  border-color: #17a2b8;
  margin-bottom: 5px;
}

.btn-main:hover {
  color: #fff;
  background-color: #17a2b8;
  border-color: #17a2b8;
}

.btn-del {
  color: #dc3545;
  border-color: #dc3545;
}

.btn-del:hover {
  color: #fff;
  background-color: #dc3545;
  border-color: #dc3545;
}

.list-panel {
  width: 800px;
  margin: 35px auto 0 auto;
}

section table {
  border-collapse: collapse;
  margin: 40px auto;
  width: 100%;
  margin-bottom: 1rem;
  color: #212529;
}

section table thead {
  vertical-align: middle;
}

section table thead th {
  color: #fff;
  background-color: #343a40;
  border: none;

  vertical-align: bottom;

  padding: 0.75rem;
  vertical-align: top;
  margin: 0;
}

section table tbody tr:nth-of-type(odd) {
  background-color: rgba(0, 0, 0, 0.05);
}

section table tbody td {
  padding: 0.75rem;
  vertical-align: top;
  border-top: 0.125rem solid #dee2e6;
  padding: 0.5rem 0 !important;
  text-align: center;
}

section table tbody td:not(:nth-child(4)) {
  vertical-align: middle;
}

section table tbody button {
  margin: 5px;
}

.action-link {
  display: inline-block;
  font-weight: 400;
  text-align: center;
  vertical-align: middle;
  background-color: transparent;
  border: 0.125rem solid transparent;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  border-radius: 0.5rem;
  line-height: 1.5;
  cursor: pointer;
  margin: 5px;
  text-decoration: none;
}

.action-link.btn-add {
  color: #28a745;
  border-color: #28a745;
}

.action-link.btn-add:hover {
  color: #fff;
  background-color: #28a745;
  border-color: #28a745;
}

.action-link.btn-del {
  color: #dc3545;
  border-color: #dc3545;
}

.action-link.btn-del:hover {
  color: #fff;
  background-color: #dc3545;
  border-color: #dc3545;
}

section form {
  display: inline-block;
}

@media (max-width: 720px) {
  header nav ul {
    display: none;
    flex-direction: column;
    float: left;
    width: 100%;
    list-style: none;
    background: #2a2f34 !important;
    margin: 60px 0 30px 0;
    padding: 20px;
  }

  header nav ul li {
    padding: 8px 0;
  }

  .menu-toggle {
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }

  .menu-toggle-text {
    color: rgba(255, 255, 255, 0.75);
  }

  .navbar-toggler {
    display: block;
    padding: 0.25rem 0.75rem;
    font-size: 1.25rem;
    line-height: 1;
    background-color: transparent;
    border: 1px solid transparent;
    border-radius: 0.25rem;
    transition: box-shadow 0.15s ease-in-out;

    float: right;
    margin: 10px;
  }

  .navbar-toggler-icon {
    display: inline-block;
    width: 1.5em;
    height: 1.5em;
    vertical-align: middle;
    background-size: 100%;

    background: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28255, 255, 255, 0.55%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e")
      no-repeat center;
  }

  .custom-line {
    width: 90%;
    margin: 0 auto;
  }

  section button {
    display: block;
  }

  section .list-panel {
    width: 90%;
  }
  table button {
    padding: 0 0.75rem;
  }
  section form {
    display: block;
  }
  
  section table tbody td:not(:nth-child(4)) {
    vertical-align: middle;
  }
  
  .action-link {
    display: block;
    border: none;
    padding: 0.5rem 0;
    margin: 0.25rem 0;
    text-decoration: underline;
    background-color: transparent;
    border-radius: 0;
    text-align: center;
    color: #000 !important;
  }
  
  .action-link.btn-add {
    color: #000 !important;
    border-color: transparent !important;
  }
  
  .action-link.btn-add:hover {
    color: #000 !important;
    background-color: transparent !important;
    border-color: transparent !important;
    text-decoration: underline;
  }
  
  .action-link.btn-del {
    color: #000 !important;
    border-color: transparent !important;
  }
  
  .action-link.btn-del:hover {
    color: #000 !important;
    background-color: transparent !important;
    border-color: transparent !important;
    text-decoration: underline;
  }
  
  .action-link i {
    display: none;
  }
  
  .action-link:hover {
    color: #000 !important;
    background-color: transparent !important;
    border-color: transparent !important;
    text-decoration: underline;
  }
}

